<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WXQWTMT');</script>
<!-- End Google Tag Manager -->

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="ClassOn" />

<link rel="icon" href="/favicon.ico?v=1.1">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link rel="stylesheet" href="/static/onepage.css" type="text/css" />
<link rel="stylesheet" href="/static/css/dark.css" type="text/css" />
<link rel="stylesheet" href="/static/css/font-icons.css" type="text/css" />
<link rel="stylesheet" href="/static/css/et-line.css" type="text/css" />
<link rel="stylesheet" href="/static/css/animate.css" type="text/css" />
<link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css" />
<link rel="stylesheet" href="/static/css/pricing-table.css" type="text/css" />
<link rel="stylesheet" href="/static/css/fonts.css" type="text/css" />
<link rel="stylesheet" href="/static/css/responsive.css" type="text/css" />
<link rel="stylesheet" href="/static/custom.css" type="text/css" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>ClassOn | Nền tảng dạy học</title>