<div id="gotoTop" class="icon-angle-up"></div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>

<script src="/static/js/jquery.gmap.js"></script>

<script src="/static/js/functions.js"></script>